<%- include("partials/header.ejs") %>

<main class="questions_main">
    
<h1 class="questions_title" id="toutes-questions">Toutes les questions</h1>

<a href="/questions/nouvelle-question" class="questions_button">Ajouter une question</a>

<nav class="questions_sidebar">
     <a href="#toutes-questions"><h3>Sommaire</h3></a>
    <ul>
        <% themesAndQuestions.forEach(theme => { %>
            <li>
                <a href="#<%= theme.slug %>"><%= theme.theme_name %></a>
            </li>
        <% }) %>
    </ul>
</nav>

<div class="question_block">

<button id="toggle_edit_mode" class="edit_mode_button">Mode édition</button>

<% themesAndQuestions.forEach(theme => { %>
  <div id="<%= theme.slug %>" style="--theme-color: <%= theme.color %>;">
    <h2 class="questions_title">
      <span class="theme_name"><%= theme.theme_name %></span>
    </h2>

    <div class="timeline">
      <% theme.questions.forEach(question => { %>
        <div class="timeline_item">
          <div class="dot"></div>
          <div class="question-answer-elem">
            <a href="/questions/editer/<%= question.id %>" class="edit_button" title="Modifier la question">✏️</a>
            <div class="qa-text">
              <div class="question"><%- question.question %></div>
              <div class="answer"><%- question.response %></div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
<% }) %>
</div>

</main>


<script src="/js/edit-mode.js"></script>


<%- include("partials/footer.ejs") %>
